@tailwind components;
@tailwind base;
@tailwind utilities;
@tailwind variants;

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#card {
  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 30%;
  animation-duration: 200ms;
}
